.cart-wrapper{
    margin: 5px;
}

.cart-content {
    padding-left: 15px;
    padding-right: 15px;
}

.price-column {
    display: flex;
    justify-content:flex-end;
}

.total-text {
    font-size: large;
    text-decoration: underline;
}