body {
  margin: 0;
} 
.wrapper{

  display: flex;
  flex-direction: column;
  background-color: rgba(243,242,242,255);
  border: rgba(221,219,218,255), solid, 1px;
  border-radius: 5px;
  padding: 5px;
}

.content {
  display: flex;
  flex: 1; 
  color: #000; 
}
.columns{
  display: flex;
  flex:1;
}
.main{
  flex: 1;
  order: 2;
}
.sidebar-first{
  width: 20%;
  order: 1;
}
.sidebar-second{ 
  width: 25%;
  order: 3;
}